NEXT_PUBLIC_SITE_URL=https://rightmindlab.com/ach
START_PROJECT_EMAIL_FROM=aa03abm05@gmail.com
START_PROJECT_EMAIL_TO=aa03abm05@gmail.com
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SLACK_WEBHOOK_URL=
NEXT_PUBLIC_BASE_PATH=

NEXT_PUBLIC_SUPABASE_URL=https://dyllwhcwwksoegumpjlf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5bGx3aGN3d2tzb2VndW1wamxmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk1NzIxODMsImV4cCI6MjA3NTE0ODE4M30.LvshJHQtC1kjSgkVJVXSKJEm1dlVCl2-FqZrutXAcm0
SUPABASE_SERVICE_ROLE_KEY=
OLLAMA_KEY=
OLLAMA_BASE_URL=https://api.ollama.com
